*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

nav{
    height: 4rem;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
}

/*Styling Hamburger Icon*/
.hamburger{
    position: fixed;
    left: 20px;
    top: 35px;
    z-index: 2;
    transform: translate(-5%, -50%);
}
.hamburger div{
    width: 18px;
    height:2px;
    background: #000;
    margin: 2px;
    transition:  0.2s ease;
}








/*Styling Links*/



.nav-links{
    position: absolute;
    text-transform: capitalize;
    border-bottom: 1px solid #cfcfd1;
    border-right: 1px solid #cfcfd1;
    border-left: 1px solid #cfcfd1; 
    top: 65px;
    margin-left: -250px;
    max-width: 250px;
    transition: margin .2s;
    background: #fff;
    z-index: 2;
}
    


.nav-links a{ 
    padding: 12px 30px 14px;
    display: block;
    position: relative;
    text-decoration: none;
    position: relative;
    color: #000;
}
.nav-links a:not(:last-of-type)
{
    border-bottom: 1px solid #cfcfd1;
}

.nav-links a:hover{
    color: #333;
}










    /*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #BBB;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.nav-active {
    margin: 0;
}




/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-4px,2px);
}
.toggle .line2{
    transform: translate(10px,0px);
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-2px);
}

h1 {
    text-align: center;
    padding: 5px;
}